h1{
    font-family: sans-serif;

}
p{
    font-weight: 600px;
}
body{
    font-size: 16px;
    font-style: italic;
    line-height: 50px;
    text-align: justify;
}
.Amarelo {
    background-color: yellow;
}
.Vermelho {
    background-color: red;
}
.Marrom {
    background-color: brown;
}